* {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  text-transform: uppercase;
  font-family: "Neue Montreal Regular";
  box-sizing: border-box;
}

#content {
  width: 100%;
  min-height: 100vh;
  /*background: linear-gradient(135deg, #153677, #4e085f);*/
  padding: 10px;
}

#content g.map {
  fill: white;
  stroke: black;
}

#content g.map path:hover {
  fill: black;
  stroke: white;
}

/* #content .map path {
  fill: #808080;
  stroke: #808080;
} */
/* #content .map path {
  display: block;
  cursor: pointer;
  transition-property: all;
  transition-duration: 5s;
  transition-timing-function: ease-in-out;
}

#content .map path:hover {
  scale: 10;
} */

#content .lines path {
  fill: none;
  stroke: #ff496c;
}

.tooltip {
  position: absolute;
  pointer-events: none;
  background: none;
  font-size: 50px;
  text-transform: uppercase;
  font-family: "Neue Montreal Regular";
  color: red;
}
